{% extends "layout.jinja2" %}

{% block content %}
<div class="card">
  <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo" />
  <h1 class="site-title">{{ title }}</h1>
  <p class="subtitle">Prototype Living Lab Dashboard (View source on <a href="https://github.com/eBellmer/living_lab_dashboards">Github</a>).</p>
  <a href="/dashapp/" class="dash-link">
    <span>Enter Dashboard</span>
    <i class="fas fa-arrow-right"></i>
  </a>
</div>
{% endblock %}